In [1]:
import pandas as pd

In [3]:
# Exemplo usando um arquivo CSV local (substitua 'seu_arquivo.csv' pelo nome do seu arquivo)
df = pd.read_csv('titanic.csv')

In [4]:
# Exemplo de transformações para o conjunto de dados do Titanic

# Preenchendo valores ausentes na coluna 'Age' com a mediana
df['Age'].fillna(df['Age'].median(), inplace=True)

# Criando uma nova coluna 'Família_a_Bordo'
df['N_familiares'] = df['SibSp'] + df['Parch']

# Extraindo o título do nome
df['Título'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# Convertendo a coluna 'Sex' para valores numéricos
df['Sex'] = df['Sex'].map({'female': 0, 'male': 1})

# Removendo colunas desnecessárias
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)

# Verificando as primeiras linhas do DataFrame transformado
print(df.head())

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Família_a_Bordo Título
0         0       3    1  22.0      1      0   7.2500                1     Mr
1         1       1    0  38.0      1      0  71.2833                1    Mrs
2         1       3    0  26.0      0      0   7.9250                0   Miss
3         1       1    0  35.0      1      0  53.1000                1    Mrs
4         0       3    1  35.0      0      0   8.0500                0     Mr

In [5]:
# Salvando o DataFrame em um novo arquivo CSV
df.to_csv('dados_transformados.csv', index=False)